.main {
  background-color: rgb(79, 68, 68);
  height: 300px;
  width: 300px;
  margin: 10px auto;
  padding: 20px;
  color: white;
}
.form {
  /* background-color: aqua; */
  padding: 40px 0px;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}

#textarea {
  width: 250px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

button {
  display: block;
  margin: 20px auto;
  width: 250px;
  height: 40px;
  background-color: orange;
  color: white;
  border-style: none;
}
